.nav__button {
  width: 26px;
  height: 26px;
  cursor: pointer;
  position: absolute;
  top: 35px;
  right: 0px;
  display: none;
  z-index: 1;
}

@media (max-width: 770px) {
  .nav__button {
    display: block;
  }
}
