.contacts__links {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  width: 60%;
  margin: auto;
}

@media (max-width: 1030px) {
  .contacts__links {
    padding-top: 60px;
  }
}

@media (max-width: 770px) {
  .contacts__links {
    width: 80%;
  }
}
