.contacts__button {
  display: block;
  box-sizing: border-box;
  width: fit-content;
  background-color: #070707;
  color: #fff;
  border-radius: 22px;
  margin: 30px auto 0;
  border: none;
  padding: 10px 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.contacts__button:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: #313131fc;
}
