@import url(__toggle/nav__toggle.css);
@import url(__button/nav__button.css);
@import url(__button-icon/nav__button-icon.css);

.nav {
  height: 100%;

  border-bottom: 1px solid #828282;
  position: relative;
  display: flex;
  align-items: center;
}
