@import url(_size_big/title_size_big.css);
@import url(_size_middle/title_size_middle.css);
@import url(_size_small/title_size_small.css);

.title {
  font-family: 'Comfortaa', 'Arial', 'Helvetica', 'Nimbus Sans L', sans-serif;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
