@import url(__name/tech-item__name.css);
@import url(__logo/tech-item__logo.css);

.tech-item {
  width: 120px;
  height: 153px;
  padding-right: 20px;
  text-align: center;
}

.tech-item:last-of-type {
  padding-right: 0px;
}
